.main {
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: start;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
    height: 100px;
    width: 100%;
    background-color: gray;
}